name: Create zip files

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UUID: 'block-caribou-36@lxylxy123456.ercli.dev'
    strategy:
      matrix:
        version:
          - '3.36.3'
          - '40.0'
          - '40'
          - '41'
          - '42'
          - '43'
          - '44'
          - '45'
          - '48'
          - '49'

    steps:
    - uses: actions/checkout@v2
    - name: check
      run: grep -A999 -B999 ${{ env.UUID }} ${{ matrix.version }}/metadata.json
    - name: zip
      run: zip -j ${{ matrix.version }}.zip ${{ matrix.version }}/*
    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.version }}.zip
        path: ${{ matrix.version }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master' && github.event_name == 'push') }}
    steps:
      - uses: actions/checkout@v2

      - name: Download 3.36.3
        uses: actions/download-artifact@v5
        with:
          name: 3.36.3.zip
          path: .

      - name: Download 40.0
        uses: actions/download-artifact@v5
        with:
          name: 40.0.zip
          path: .

      - name: Download 40
        uses: actions/download-artifact@v5
        with:
          name: 40.zip
          path: .

      - name: Download 41
        uses: actions/download-artifact@v5
        with:
          name: 41.zip
          path: .

      - name: Download 42
        uses: actions/download-artifact@v5
        with:
          name: 42.zip
          path: .

      - name: Download 43
        uses: actions/download-artifact@v5
        with:
          name: 43.zip
          path: .

      - name: Download 44
        uses: actions/download-artifact@v5
        with:
          name: 44.zip
          path: .

      - name: Download 45
        uses: actions/download-artifact@v5
        with:
          name: 45.zip
          path: .

      - name: Download 48
        uses: actions/download-artifact@v5
        with:
          name: 48.zip
          path: .

      - name: Download 49
        uses: actions/download-artifact@v5
        with:
          name: 49.zip
          path: .

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.1
        with:
          custom_tag: auto-release-${{ github.sha }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: auto-release-${{ github.sha }}
          release_name: Auto Release ${{ github.sha }}
          body: |
            Automatically created by GitHub Actions
          draft: false
          prerelease: false

      - name: Release 3.36.6
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./3.36.3.zip
          asset_name: 3.36.3.zip
          asset_content_type: application/zip

      - name: Release 40.0
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./40.0.zip
          asset_name: 40.0.zip
          asset_content_type: application/zip

      - name: Release 40
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./40.zip
          asset_name: 40.zip
          asset_content_type: application/zip

      - name: Release 41
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./41.zip
          asset_name: 41.zip
          asset_content_type: application/zip

      - name: Release 42
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./42.zip
          asset_name: 42.zip
          asset_content_type: application/zip

      - name: Release 43
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./43.zip
          asset_name: 43.zip
          asset_content_type: application/zip

      - name: Release 44
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./44.zip
          asset_name: 44.zip
          asset_content_type: application/zip

      - name: Release 45
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./45.zip
          asset_name: 45.zip
          asset_content_type: application/zip

      - name: Release 48
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./48.zip
          asset_name: 48.zip
          asset_content_type: application/zip

      - name: Release 49
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./49.zip
          asset_name: 49.zip
          asset_content_type: application/zip
